html, body {
margin: 0;
padding: 0;
}

body {
font-size: 100%;
}


.main-container {
    height: 100vh;
    
    scroll-behavior: smooth;
}

header {
    height: 50px;
    width: 100%;
    background-color: #242325;
    position: fixed;
    
    display: flex;
    align-items: center;
}

header a {
    color: #FFFCF7;
    text-decoration: none;
    flex: 1 1;
    flex-basis: 100px;    
    padding-inline: 15px;
}

header a:hover {
    background-color: #242325;
}

.page {
height: 100%;
margin: 0;
padding: 0;

}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: #242325;
    color: #FFFCF7;
}

.home .content p {
    text-align: end;
    font-size: 1.25em;
}

.home .content {
    align-self: center;
    width: 400px;
}

.title {
    font-size: 2em;
}

.contacts {
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: space-around;

    font-size: 1.5em;
}

.contacts a {
    background-color: #242325;
    color: #FFFCF7;
    text-decoration: none;
    text-align: center;
    padding: 0;

    flex: 1;
}

.contacts :hover {
    background-color: #343336;
}


.c1 {
    background-color: #3DDC97;
}

.c2 {
    background-color: #C1666B;
}

.c3 {
    background-color: #A1B5D8;
}

.conv {
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.converter {
    background-color: whitesmoke;
    height: 80%;
    width: 90%;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.convname{
    text-align: center;
}
